body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*for header */

.header{
    width:100%;
    position: fixed;
    background-color: #ffba66;
    box-shadow:0px 4px 8px #FFDCB2;
    
}

.logo ul li,.navbar ul li{
    display: inline;
}
.logo{
    display:inline-block;
    width:auto;
    color: white;
    font-size: 16px;
    word-spacing:0px;
    letter-spacing: 2px;
    font-family: cursive;
    opacity:.7;
}
.logo:hover{
    opacity:1;
    font-size:16.5px;

}
.logo ul li img {
    vertical-align: middle;
}
.navbar ul li a{
    padding:10px 20px;
    text-decoration: none;
    color: #000000;
    opacity:0.7;
    
    
}

.navbar ul li a:hover{
    background-color: rgba(0,0,0,.2);
    border-radius:5px;
    color:white;
    transition:.5s;
        
    opacity:1;
}


.logo ul {
    margin:0px;
}
.navbar{
    display:inline-block;
    width: auto; 
    float: right;
}

/* for box 1*/

div.box1{
    background: url(./../images/cellphone.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    width:100%;
    height:600px;
    color: white;
    text-align: center;
    border: 1px solid transparent;
}

.box1 h1{
    font-size:100px;
    margin: 100px;
}

.box1  p{
    font-size:150%;
    width:80%;
    margin:0px auto;
}
.box1 button{
    margin: 120px;
}

/* for button*/

button{
        color: white;
        background-color: #9ACD32;
        border: none;
        border-radius: 100px;
        padding: 15px 25px;
        font-size: 120%; 
}
button:hover{
    
    background-color: #40ff40;
    transition: .5s;
    box-shadow: 0px 0px 100px #40ff40;
}

button:active{
    position:relative;
    top:2px;
    left:2px;
    box-shadow: 0px 0px 100px #40ff40;
}

/* styling for box 2 */

.box2{
    width:100%;
    height:400px;
    color: white;
    background-color: #9ACD32;
    text-align: center;
    padding-top: 100px;
}

.box2 h1{
    font-size: 40px;
}
.box2 p{
    width:70%;
    margin-top: 50px;

    margin: 0px auto;
    font-size:20px;
    font-size: 20px;
}

/* styling for box 3 */

table1,table2{
    width:100%;
    height:900px;   
}


.box3-tableimg img{
    border-radius:100%;
     height: 300px;
     width:500px;
}

.box3-tableimg{
    padding:0px 0px 0px 100px;
    width:35%;
}

.box3-cnt{
    text-align: left;
    width:62%;
}

.box3-cnt p{
    width: 80%;
}

.box3-cnt span{
    font-size: 200%;
    font-weight: bold;
}

.table1{
    background-color: white;
}


/* styling for box 4*/

.box4-tableimg img{
    border-radius:100%;
     height: 300px;
     width:500px;
}

.box4-tableimg{
    padding:0px 100px 0px 0px;
    width:35%;
}

.box4-cnt{
    padding: 0px 0px 0px 100px;
    text-align: left;
    width:62%;
}

.box4-cnt p{
    width: 100%;
}
.box4-cnt span{
    font-size: 200%;
    font-weight: bold;
}


.table2{
    background-color: #222222;
    color: white;
}
/* styling for section 4*/

/*
.section4{
    
    width: 100%;
    height: 30%;
}

.section4 [class="box-1"]{
    display: inline-block;
    float: left;
    width: 33.3%;
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    text-align: center;
}

.section4 [class="box-2"]{
    display: inline-block;
    float: left;
    width: 33.4%;
    height: 100%;
     background-image: url(background.jpg);
    background-size: cover;
    text-align: center;
}

.section4 [class="box-3"]{
    display: inline-block;
    float: left;
    width: 33.3%;
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    text-align: center;
}

.section4 h1{
    color: white;
    margin-top: 20%;
}

.effect:hover{
     
    padding: 60px 0px;
    border: 2px solid gray;
    margin: 20px 20px;
    color: darkslategrey;
    transition-duration: 0.3s;
    
}*/



.table3{
    width:100%;
    text-align: center;
}

table.table3 td{
    padding:0px;
    width:33.33%;
    background-image: url(background2.jpg);
    background-size:cover;
    background-position:center;
    height:200px;
}

table.table3 h1:hover{
    border: 2px solid white;
    color: white;
    font-size:350%;
    transition-duration: .5s;
    padding:59px 0px;
    margin:0px 12px;  
}

/* for footer of the page*/

.footer{
    background-color: #9ACD32;
    text-align: center;
    margin:0px;
    color:white;
    padding:100px;
    display: block;
    
}
.footer h1{
    font-weight: normal;
    
}
.footer p{
    font-size:24px;
    margin: 0px;
}

.lastfooter{
    padding:50px;
    text-align: center;
    color: grey;
}

